// /57491254/sole24ore.com/Speciali_minisiti/HYUNDAI_MOTOR_2016_IONIQ_137868/Top
#div-gpt-ad-Top style='height:1px; width:1px;'
  javascript:
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-Top'); });
